.jumbotron
  .container
    h1.display-4 Hej
    p 
    p
      a.btn.btn-primary.btn-lg(href='#') Gör ngt &raquo;


.container
  .row
    .col-md-4
      h2 Hästar
      p Hästar 
    .col-md-4
      h2 Maskiner
      p Maskiner blahbla
    .col-md-4
      h2 Lantbruk 
      p Lantbruk blahbla

.container
  div !{page.content}
