.jumbotron
  .container
    h1.display-5 Sofie Karlsson
    p Jag gör det ena och det andra.
    a.btn.btn-primary.btn-lg(href='/kontakt') Läs mer om mig &raquo;


.container
  .row
    .col-md-4
      h2 Häst
      h3 Hästklippning
      h3 In/utsläpp samt utfodring
      p
        a.btn.btn-secondary(href='/hast') Läs mer &raquo;
    .col-md-4
      h2 Maskin
      h3 Traktorkörning vid vårbruk & skörd
      p
        a.btn.btn-secondary(href='/maskin') Läs mer &raquo;
    .col-md-4
      h2 Kossor 
      h3 Koklippning
      h3 Djurskötare
      p
        a.btn.btn-secondary(href='/lantbruk') Läs mer &raquo;

