@import '../bower_components/bootstrap/scss/bootstrap';

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
  float: none;
  display: block;
}
.navbar-nav .nav-item {
  float: none;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
}

@include media-breakpoint-up(sm) {

  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
  }

}

.jumbotron {
  background: url(/bilder/header.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-color: #ccc;
  border-radius: 0;
}

.page-content {
  margin-top: 20px;
}


.page-content {
  table {
    @extend .table;
    @extend .table-striped;
  }

  img {
    @extend .img-fluid;
    @extend .img-rounded;
  }
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;

  p {
    margin: 0;
  }

  .spacer {
    display: inline-block;
    width: 1rem;
  }
}





#__bs_notify__ {
  display: none !important;
}
